/* styles.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: linear-gradient(to right, #ff9966, #ff5e62);
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

section {
    background: linear-gradient(to right, #ff9966, #ff5e62);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
}

.price {
    font-size: 1.5em;
}

button {
    background-color: white;
    color: #ff5e62;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f0f0f0;
}

footer {
    background: linear-gradient(to right, #ff9966, #ff5e62);
    color: white;
    text-align: center;
    padding: 20px;
}
